.ribbon-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}

.ribbon {
  position: absolute;
  height: 100%;
  width: 100px;
  background: linear-gradient(90deg, #FC8EAC, #FFD1DC);
  opacity: 0.6;
  filter: blur(15px);
  transform-origin: left center;
  will-change: transform;
  pointer-events: none;
  transition: transform 0.1s ease-out;
  border-radius: 50%;
  mix-blend-mode: overlay;
}
